<!DOCTYPE html>
<html lang="ch">
<head>
	<meta charset="UTF-8">
	<title>达州市中级人民法院公共服务网</title>
	<link rel="stylesheet" type="text/css" href="../../static/zxgk/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/zxgk/css/style.css">
</head>
<body>

	<table class="caseInfo">
		<thead>
			<tr>
				<th colspan="2">法官信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>当前承办人：</td>
				<td>{{ ajxx.fgxx.cbr }}</td>
			</tr>
			<tr>
				<td>联系电话：</td>
				<td>{{ ajxx.fgxx.lxdh }}</td>
			</tr>
			<tr>
				<td>变更记录：</td>
				<td>{{ ajxx.fgxx.bgjl }}</td>
			</tr>
		</tbody>
	</table>
		
	<table class="caseInfo">
		<thead>
			<tr>
				<th colspan="2">案件基本信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>案号：</td>
				<td>{{ ajxx.ah }}</td>
			</tr>
			<tr>
				<td>案件来源：</td>
				<td>{{ ajxx.ajly }}</td>
			</tr>
			<tr>
				<td>立案时间：</td>
				<td>{{ ajxx.lasj|date:'Y-m-d' }}</td>
			</tr>
			<tr>
				<td>执行案由：</td>
				<td>{{ ajxx.zxay }}</td>
			</tr>
			<tr>
				<td>执行依据：</td>
				<td>{{ ajxx.zxyj }}</td>
			</tr>
			<tr>
				<td>执行依据文书编号：</td>
				<td>{{ ajxx.zxyjwsbh }}</td>
			</tr>
			<tr>
				<td>生效判决法院及其它机关：</td>
				<td>{{ ajxx.sxfyjjg }}</td>
			</tr>
			<tr>
				<td>文书生效日期：</td>
				<td>{{ ajxx.sxsj|date:'Y-m-d H:i' }}</td>
			</tr>
			<tr>
				<td>申请执行标的额：</td>
				<td>{{ ajxx.sqzxbd }}</td>
			</tr>
			<tr>
				<td>执行依据主文：</td>
				<td>{{ ajxx.zxyjws }}</td>
			</tr>
			<tr>
				<td>履行情况：</td>
				<td>{{ ajxx.lxqk }}</td>
			</tr>
		</tbody>
	</table>

	<table class="caseInfo">
		<thead>
			<tr>
				<th colspan="2">当事人基本信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td>无</td>
			</tr>
		</tbody>
	</table>

</body>
</html>