<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>达州市中级人民法院公共服务网</title>
	<link rel="stylesheet" type="text/css" href="../../static/zxgk/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/zxgk/css/style.css">
</head>
<body>

	<div class="header shadow">
		<div class="mainBox clearfix">
			<h1 class="logo">
				<a href="index.html" title="达州市中级人民法院_裁判文书公开平台">
					<img src="../../static/zxgk/images/logo.png" alt="裁判文书公开平台">
				</a>
			</h1>

			<ul class="nav-group">
				<li class="nav-item"><a href="index.html" class="active">首页</a></li>
				<li class="nav-item"><a href="articleList.html">执行动态</a></li>
				<li class="nav-item"><a href="executeInfo-list.html">执行信息</a></li>
				<li class="nav-item"><a href="exposureInfo.html">失信曝光</a></li>
				<li class="nav-item"><a href="lawList.html">法律法规</a></li>
				<li class="nav-item"><a href="policeList.html">干警名录</a></li>
			</ul>

			<a href="javascript:;" class="slide-nav-btn">
				<em>导航&nbsp;</em><img src="../../static/zxgk/images/nav-btn.png">
			</a>
		</div>	
	</div>

	<div class="slide-nav">
		<ul class="slide-nav-group">
			<li class="slide-nav-item"><a href="javascript:;">网站首页</a></li>
			<li class="slide-nav-item"><a href="javascript:;">审判流程</a></li>
			<li class="slide-nav-item"><a href="javascript:;">执行信息</a></li>
			<li class="slide-nav-item"><a href="javascript:;">裁判文书</a></li>
			<li class="slide-nav-item"><a href="javascript:;">网上立案</a></li>
			<li class="slide-nav-item"><a href="javascript:;">政务网站</a></li>
			<li class="slide-nav-item"><a href="javascript:;">网上执行局</a></li>
			<li class="slide-nav-item"><a href="javascript:;">诉讼服务中心</a></li>
		</ul>
	</div>

	<div class="wrap">

		<div class="banner">
			<img src="../../static/zxgk/images/document-banner.png" alt="">
		</div>

		<div class="document-search-bar">
			<form class="mainBox clearfix" action="">
				<p class="title">案件执行信息查询</p>
				<p class="court"><input type="text" placeholder="法院名称"></p>
				<p class="anhao"><input type="text" placeholder="案号"></p>
				<p class="password"><input type="password" placeholder="查询密码"></p>
				<p class="search-btn"><input type="button" value="查询"></p>
				<p class="reset-btn"><input type="reset" value="清空"></p>
			</form>
		</div>

		<div class="notice">
			<div class="notice-type clearfix">
				<h3 class="type-title"><em>失信信息公开&nbsp;|</em>Credit information</h3>
				<P class="more">
					当前位置：
					<a href="javascript:;">首页</a>
					&gt;&gt;
					<a href="javascript:;">失信信息公开</a>
				</P>
			</div>
			<table class="notice-list">
				<thead>
					<tr>
						<th>执行法院</th>
						<th>案号</th>
						<th>被执行人名单</th>
						<th>执行标的</th>
						<th>立案日期</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
					<tr>
						<td><em class='case-courtName'>达州市达川区人民法院</em></td>
						<td><em class='case-anhao'>
							<a href="javascript:;" class="anhao">(2012)万源民初字第711号</a>
						</em></td>
						<td><em class='case-dishonestPeople'>成都市世德劳务分包有限责任公司</em></td>
						<td><em class='case-money'>42684.3900</em></td>
						<td><em class='case-date'>2012-08-26</em></td>
					</tr>
				</tbody>
			</table>
			<div class="page clearfix">
				<a href="javascript:;" class="prev">&lt;上一页</a>
				<a href="javascript:;" class="active">1</a>
				<a href="javascript:;">2</a>
				<a href="javascript:;">3</a>
				<a href="javascript:;">4</a>
				<a href="javascript:;">5</a>
				<a href="javascript:;" class="next">下一页&gt;</a>
			</div>
		</div>

		<div class="copyRight">
			<p class="right">注册单位：达州市中级人民法院  技术支持：深圳市千合科技有限公司 </p>
			<p>蜀ICP备14002101号</p>
		</div>

	</div>
	
	<script src="../../static/zxgk/js/jquery-1.11.2.min.js"></script>
	<script src="../../static/zxgk/js/layer/layer.js"></script>
	<script src="../../static/zxgk/js/laydate/laydate.js"></script>
	<script>
		// 侧滑导航
		var isMainNav = 0;
 		$(".slide-nav-btn").click(function(){
 			if(isMainNav == 0){
 				$(".slide-nav").addClass('slide-nav-active');
 				$(".wrap,.header").addClass('nav-active');
 				isMainNav = 1;
 			}else{
 				$(".slide-nav").removeClass('slide-nav-active');
 				$(".wrap,.header").removeClass('nav-active');
 				isMainNav = 0;
 			}
		});

 		// 头部置顶
		$(function(){
			$(window).scroll(function(){
				if( $(window).scrollTop() >0 ){
					$(".header").addClass('shadow');
				}else{
					$(".header").removeClass('shadow');
				}
			});	
		});

		$(".case-anhao").click(function() {
			$(".wrap").addClass('blur');
			layer.open({
				type: 2,
				title:  ["失信信息公开"+" - "+"(2015)通川执字第681号"],
				closeBtn: 2,
				shade: [0.7, '#000000'],
				area: ['600px', '500px'],
				shadeClose: true,
				skin: 'yourclass',
				content: ['exposureInfo-details.html','no'],
				end: function(){
					$(".wrap").removeClass('blur');
				}
			});
		});
	</script>
</body>
</html>