<!DOCTYPE html>
<html lang="ch">
<head>
	<meta charset="UTF-8">
	<title>达州市中级人民法院公共服务网</title>
	<link rel="stylesheet" type="text/css" href="../../static/zxgk/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/zxgk/css/style.css">
</head>
<body>
	<br>
	<table class="caseInfo">
		<thead>
			<tr>
				<th colspan="2">执行案件曝光详细信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>执行法院：</td>
				<td>万源市人民法院</td>
			</tr>
			<tr>
				<td>当事人类型：</td>
				<td>法人</td>
			</tr>
			<tr>
				<td>单位名称：</td>
				<td>成都市世德劳务分包有限责任公司</td>
			</tr>
			<tr>
				<td>法定代表人（负责人）：</td>
				<td>刘仕志</td>
			</tr>
			<tr>
				<td>组织机构代码</td>
				<td></td>
			</tr>
			<tr>
				<td>执行依据：</td>
				<td>法院生效裁判</td>
			</tr>
			<tr>
				<td>文书编号：</td>
				<td>(2012)万源民初字第711号</td>
			</tr>
			<tr>
				<td>执行标的：</td>
				<td>42684.3900</td>
			</tr>
			<tr>
				<td>履行情况：</td>
				<td></td>
			</tr>
			<tr>
				<td>失信情形：</td>
				<td>被执行人成都市世德劳务分包有限责任公司有履行能力，但拒不履行生效法律文书所确定的义务</td>
			</tr>
			<tr>
				<td>备注：</td>
				<td></td>
			</tr>
		</tbody>
	</table>

</body>
</html>