{% extends 'zxgk/base.html' %}
{% block content %}

	<div class="wrap">

		<div class="banner">
			<img src="../../static/zxgk/images/document-banner.png" alt="">
		</div>

		<div class="document-search-bar">
			<form class="mainBox clearfix" action="">
				<p class="title">案件执行信息查询</p>
				<p class="court"><input type="text" placeholder="法院名称"></p>
				<p class="anhao"><input type="text" placeholder="案号"></p>
				<p class="password"><input type="password" placeholder="查询密码"></p>
				<p class="search-btn"><input type="button" value="查询"></p>
				<p class="reset-btn"><input type="reset" value="清空"></p>
			</form>
		</div>

		<div class="notice">
			<div class="notice-type clearfix">
				<h3 class="type-title"><em>失信信息公开&nbsp;|</em>Credit information</h3>
				<P class="more">
					当前位置：
					<a href="javascript:;">首页</a>
					&gt;&gt;
					<a href="javascript:;">失信信息公开</a>
				</P>
			</div>
			<table class="notice-list">
				<thead>
					<tr>
						<th>执行法院</th>
						<th>案号</th>
						<th>被执行人名单</th>
						<th>执行标的</th>
						<th>立案日期</th>
					</tr>
				</thead>
				<tbody>
                    {% for foo in dsrlist %}
					<tr>
						<td><em class='case-courtName'>{{ foo.zxfy }}</em></td>
						<td><em class='case-anhao'>
							<a href='javascript:show("{{ foo.did }}","{{ foo.ajxx.ah }}");' class="anhao">{{ foo.ajxx }}</a>
						</em></td>
						<td><em class='case-dishonestPeople'>{{ foo.dwmc }}</em></td>
						<td><em class='case-money'>{{ foo.zxbd }}</em></td>
						<td><em class='case-date'>{{ foo.ajxx.lasj }}</em></td>
					</tr>
                    {% endfor %}

				</tbody>
			</table>
			<div class="page clearfix">
				<a href="{% url 'views.sxpg' 1 %}" class="prev">&lt;首页</a>
                {% for p in pageInfor.indexList %}
                    <a href="{% url 'views.sxpg' p %}" {% ifequal pageInfor.page|add:'0' p|add:'0' %} class="active" {% endifequal %}>{{ p }}</a>
                {% endfor %}
				<a href="{% url 'views.sxpg' pageInfor.totalPage %}" class="next">尾页&gt;</a>
			</div>
		</div>

		<div class="copyRight">
			<p class="right">注册单位：达州市中级人民法院  技术支持：深圳市千合科技有限公司 </p>
			<p>蜀ICP备14002101号</p>
		</div>

	</div>
	
	<script src="../../static/zxgk/js/jquery-1.11.2.min.js"></script>
	<script src="../../static/zxgk/js/layer/layer.js"></script>
	<script src="../../static/zxgk/js/laydate/laydate.js"></script>
	<script>
		// 侧滑导航
		var isMainNav = 0;
 		$(".slide-nav-btn").click(function(){
 			if(isMainNav == 0){
 				$(".slide-nav").addClass('slide-nav-active');
 				$(".wrap,.header").addClass('nav-active');
 				isMainNav = 1;
 			}else{
 				$(".slide-nav").removeClass('slide-nav-active');
 				$(".wrap,.header").removeClass('nav-active');
 				isMainNav = 0;
 			}
		});

 		// 头部置顶
		$(function(){
			$(window).scroll(function(){
				if( $(window).scrollTop() >0 ){
					$(".header").addClass('shadow');
				}else{
					$(".header").removeClass('shadow');
				}
			});	
		});

        function show(did,ah) {


            $(".wrap").addClass('blur');
                layer.open({
                    type: 2,
                    title:  ["失信信息公开"+" - "+ah],
                    closeBtn: 2,
                    shade: [0.7, '#000000'],
                    area: ['600px', '680px'],
                    shadeClose: true,
                    skin: 'yourclass',
                    content: ['/zxgk/sxgk/'+did+'.html','no'],
                    end: function(){
                        $(".wrap").removeClass('blur');
                    }
            });
        }

	</script>
{% endblock %}