{% extends 'zxgk/base.html' %}
{% block content %}

	<div class="wrap">

		<div class="banner">
			<img src="../../static/zxgk/images/document-banner.png" alt="">
		</div>

		<div class="subType mainBox">
            {% for foo in gjlblist %}
                <a href="javascript:go({{ foo.id }});" class="subType-item">{{ foo.mc }}</a>
            {% endfor %}
		</div>

		<div class="photo">
			
			<ul class="photo-list mainBox clearfix" id="ul">
                {% for foo in gjxxlist %}
                <li class="photo-item">
					<img class="photo-pic" src="/static/upload/{{ foo.imgurl }}" alt="">
					<p class="police-name">{{ foo.xm }}</p>
					<p class="police-job">{{ foo.zc }}</p>
					<p class="police-tel">电话：{{ foo.dh }}</p>
				</li>
                {% endfor %}
			</ul>

{#			<div class="page clearfix">#}
{#				<a href="javascript:;" class="prev">&lt;上一页</a>#}
{#				<a href="javascript:;" class="active">1</a>#}
{#				<a href="javascript:;">2</a>#}
{#				<a href="javascript:;">3</a>#}
{#				<a href="javascript:;">4</a>#}
{#				<a href="javascript:;">5</a>#}
{#				<a href="javascript:;" class="next">下一页&gt;</a>#}
{#			</div>#}
		</div>

		<div class="copyRight">
			<p class="right">注册单位：达州市中级人民法院  技术支持：深圳市千合科技有限公司 </p>
			<p>蜀ICP备14002101号</p>
		</div>

	</div>
	
	<script src="../../static/zxgk/js/jquery-1.11.2.min.js"></script>
	<script src="../../static/zxgk/js/laydate/laydate.js"></script>
	<script>
		// 侧滑导航
		var isMainNav = 0;
 		$(".slide-nav-btn").click(function(){
 			if(isMainNav == 0){
 				$(".slide-nav").addClass('slide-nav-active');
 				$(".wrap,.header").addClass('nav-active');
 				isMainNav = 1;
 			}else{
 				$(".slide-nav").removeClass('slide-nav-active');
 				$(".wrap,.header").removeClass('nav-active');
 				isMainNav = 0;
 			}
		});

		$(function(){
			$(window).scroll(function(){
				if( $(window).scrollTop() >0 ){
					$(".header").addClass('shadow');
				}else{
					$(".header").removeClass('shadow');
				}
			});	
		});

    function go(gjlb) {
        $("#ul").html("");
        var list = "";
        $.ajax({
            type:'GET',
            url:'/zxgk/gjxx/'+gjlb+'.html',
            data:'',
            success:function (data) {
                if (data.length){
                    for (var i=0; i<data.length; i++){
                        list += '<li class="photo-item"><img class="photo-pic" src="/static/upload/'+data[i].fields.imgurl+'" alt=""><p class="police-name">'+data[i].fields.xm+'</p><p class="police-job">'+data[i].fields.zc+'</p><p class="police-tel">电话：'+data[i].fields.dh+'</p></li>';
                    }
                }
                $("#ul").html(list);
            },
            error:function (data) {
                alert('数据加载出错，请联系管理员～')
            }

        })
    }

	</script>
{% endblock %}