<!doctype html xmlns:wb="http://open.weibo.com/wb">
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" href="../../static/court/css/reset.css" />
		<link rel="stylesheet" href="../../static/court/css/style.css" />
		<title>达州市中级人民法院</title>
	</head>
	<body>

		<div class="header main-container clearfix">
			<h1 class="logo">
				<a href="#"><img src="../../static/court/images/logo.png" alt=""></a>
			</h1>
			<div class="tip">
				<ul class="top-nav clearfix">
					<li><a href="#">网站地图</a></li>
					<li><a href="javascript:;" onclick="AddFavorite(window.location,document.title)">加入收藏</a></li>
					<li><a href="javascript:;" onclick="SetHome(this,window.location)">设为首页</a></li>
				</ul>
				<div class="shade-btn clearfix">
					<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
					</div>
				</div>
				<div class="search-bar">
					<a class="search-btn" href="javascript:void(0);">点击法院高级搜索</a>
					<form class="search-container"  action="" method="get">
						<input class="search-content" type="text" placeholder="输入关键字搜索">
						<input class="search-submit" type="submit" value=" ">
					</form>
				</div>
			</div>
		</div>

		<div class="main-nav">
			<ul class="nav-bar main-container clearfix">
				<li class="active"><a href="list.html" target="_blank">网站首页</a></li>
				<li><a href="list.html" target="_blank">法院概括</a></li>
				<li><a href="list.html" target="_blank">新闻中心</a></li>
				<li><a href="list.html" target="_blank">法院文化</a></li>
				<li><a href="list.html" target="_blank">法律法规</a></li>
				<li><a href="list.html" target="_blank">执行动态</a></li>
				<li><a href="list.html" target="_blank">专题活动</a></li>
				<li><a href="list.html" target="_blank">便民专栏</a></li>
				<li><a href="http://m.amap.com/?pid=B0FFFAB6J2&view=detail">交通指引</a></li>
			</ul>
		</div>

		<div class="hotNews-container">
			<div class="main-container clearfix">
				<div class="banner-container">
					<ul class="news-list">
						<li class="news-item">
							<img class="news-pic" src="../../static/court/images/news-pic1.jpg" alt="">
							<em class='news-title text_overflow'>
								中院召开全市法院思想政治工作会 1
							</em>
						</li>
						<li class="news-item">
							<img class="news-pic" src="../../static/court/images/news-pic1.jpg" alt="">
							<em class='news-title text_overflow'>
								中院召开全市法院思想政治工作会 2
							</em>
						</li>
						<li class="news-item">
							<img class="news-pic" src="../../static/court/images/news-pic1.jpg" alt="">
							<em class='news-title text_overflow'>
								中院召开全市法院思想政治工作会 3
							</em>
						</li>
						<li class="news-item">
							<img class="news-pic" src="../../static/court/images/news-pic1.jpg" alt="">
							<em class='news-title text_overflow'>
								中院召开全市法院思想政治工作会 4
							</em>
						</li>
						<li class="news-item">
							<img class="news-pic" src="../../static/court/images/news-pic1.jpg" alt="">
							<em class='news-title text_overflow'>
								中院召开全市法院思想政治工作会 5
							</em>
						</li>
					</ul>

					<a class="prev-btn" href="javascript:void(0);"><img src="../../static/court/images/prev-btn.png" alt=""></a>
					<a class="next-btn" href="javascript:void(0);"><img src="../../static/court/images/next-btn.png" alt=""></a>
				</div>

				<div class="court-bar">
					<h4>崇尚法治   公平正义  恪尽职守</h6>
					<p>
						TEL：0818 - 2125019<br>
						DNS：www.scdzcourt.gov.cn <br>
						E-MAIL: dazouzjfy@foxmail.com <br>
						ADD:  四川达州通川区西外白塔路301 <br>
					</p>
					<div class="sina-weibo">
						<h6>达州市中级人民法院</h6>
						<div class="follow-btn">
							<wb:follow-button uid="3482626037" type="red_2" width="136" height="24" ></wb:follow-button>
						</div>
					</div>
					<div class="court-videos">
						<img src="../../static/court/images/video-pic.jpg" width="220" height="190" alt="">
						<img src="../../static/court/images/video-icon.png" class="video-icon" alt="">
					</div>
				</div>
			</div>	
		</div>

		<div class="main-container clearfix">
			<div class="news-bar">
				<h3 class="news-type">新闻动态</h3>
				<ul class="news-list">
					<li class="news-item">
						<p class="news-title text-overflow">
							<a href="">中院召开全市法院“两学一做”学习...</a>
						</p>
						<span class="news-time">2013年3月8日</span>
					</li>
					<li class="news-item">
						<p class="news-title text-overflow">
							<a href="">中院召开全市法院“两学一做”学习...</a>
						</p>
						<span class="news-time">2013年3月8日</span>
					</li>
					<li class="news-item">
						<p class="news-title text-overflow">
							<a href="">中院召开全市法院“两学一做”学习...</a>
						</p>
						<span class="news-time">2013年3月8日</span>
					</li>
					<li class="news-item">
						<p class="news-title text-overflow">
							<a href="">中院召开全市法院“两学一做”学习...</a>
						</p>
						<span class="news-time">2013年3月8日</span>
					</li>
				</ul>
			</div>
			<div class="news-bar">
				<h3 class="news-type">执行动态</h3>
				<ul class="news-list">
					<li class="news-item">
						<p class="news-title text-overflow">
							<a href="">中院召开全市法院“两学一做”学习...</a>
						</p>
						<span class="news-time">2013年3月8日</span>
					</li>
					<li class="news-item">
						<p class="news-title text-overflow">
							<a href="">中院召开全市法院“两学一做”学习...</a>
						</p>
						<span class="news-time">2013年3月8日</span>
					</li>
					<li class="news-item">
						<p class="news-title text-overflow">
							<a href="">中院召开全市法院“两学一做”学习...</a>
						</p>
						<span class="news-time">2013年3月8日</span>
					</li>
					<li class="news-item">
						<p class="news-title text-overflow">
							<a href="">中院召开全市法院“两学一做”学习...</a>
						</p>
						<span class="news-time">2013年3月8日</span>
					</li>
				</ul>
			</div>

			<div class="frided-links">
				<a href="#" class="link-item">达州中院公共服务网</a>
				<a href="#" class="link-item">达州中院执行信息网</a>
				<a href="#" class="link-item">达州中院审判公开网</a>
				<a href="#" class="link-item">达州中院裁判文书网</a>
				<a href="#" class="link-item">达州中院网上立案系统</a>
				<a href="#" class="link-item">达州中院内部办公系统</a>
				<a href="#" class="link-item">达州中院微信公众平台</a>
				<a href="#" class="link-item">四川省高级人民法院</a>
			</div>
		</div>

		<div class="footer">
			<img src="../../static/court/images/court-icon.png" alt="">
			蜀ICP备14002101号  达州市中级人民法院欢迎您，你是本站第 560614 位访问者 今日访问量：477 今日点击率：1279   注册单位 达州市中级人民法院      
		</div>

		<script type="text/javascript" src="../../static/court/js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="../../static/court/js/layer/layer.js"></script>
		<script type="text/javascript" src="../../static/court/js/common.js"></script>
		
		<script type="text/javascript" id="bdshare_js" data="type=slide&mini=1" ></script> 
		<script type="text/javascript" id="bdshell_js"></script> 
		<script type="text/javascript">
			document.getElementById('bdshell_js').src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
		</script>
		
		<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
		
	</body>
</html>
