<!doctype html xmlns:wb="http://open.weibo.com/wb">
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Author" content="">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<link rel="stylesheet" href="../../static/court/css/reset.css" />
		<link rel="stylesheet" href="../../static/court/css/style.css" />
		<title>达州市中级人民法院</title>
	</head>
	<body>

		<div class="header main-container clearfix">
			<h1 class="logo">
				<a href="#"><img src="../../static/court/images/logo.png" alt=""></a>
			</h1>
			<div class="tip">
				<ul class="top-nav clearfix">
					<li><a href="#">公众服务</a></li>
					<li><a href="#">网站地图</a></li>
					<li><a href="#">联系我们</a></li>
				</ul>
				<div class="shade-btn clearfix">
					<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
					    <a class="bds_tsina" data-title='新浪微博'></a>
					    <a class="bds_qzone" data-title='QQ空间'></a>
					    <a class="bds_tqq" data-title='腾讯微博'></a>
					    <a class="bds_renren" data-title='人人网'></a>
					    <a class="bds_baidu" data-title='百度搜藏'></a>
					    <a class="bds_tieba" data-title='百度贴吧'></a>
					    <a class="bds_ty" data-title='天涯社区'></a>
					    <a class="bds_douban" data-title='豆瓣网'></a>
					    <a class="bds_fbook" data-title='Facebook'></a>
					    <a class="bds_twi" data-title='Twitter'></a>
					    <span class="bds_more" data-title='更多'></span>
					</div>
				</div>
				<div class="search-bar">
					<a class="search-btn" href="javascrippt:void(0);">点击法院高级搜索</a>
					<form class="search-container"  action="" method="get">
						<input class="search-content" type="text" placeholder="输入关键字搜索">
						<input class="search-submit" type="submit" value=" ">
					</form>
				</div>
			</div>
		</div>

		<div class="main-nav">
			<ul class="nav-bar main-container clearfix">
				<li class="active"><a href="#">网站首页</a></li>
				<li><a href="#">法院概括</a></li>
				<li><a href="#">新闻中心</a></li>
				<li><a href="#">法院文化</a></li>
				<li><a href="#">法律法规</a></li>
				<li><a href="#">执行动态</a></li>
				<li><a href="#">专题活动</a></li>
				<li><a href="#">便民专栏</a></li>
				<li><a href="http://m.amap.com/?pid=B0FFFAB6J2&view=detail">交通指引</a></li>
			</ul>
		</div>

		<div class="info-container">
			<div class="main-container clearfix">
				<div class="info-aside">
					<dl class="sub-nav">
						<dt class="sub-type">新闻中心</dt>
						<dd class="sub-nav-list">
							<a href="#" class="sub-nav-item">图片新闻&gt;&gt;</a>
							<a href="#" class="sub-nav-item">法院动态&gt;&gt;</a>
							<a href="#" class="sub-nav-item">通知公告&gt;&gt;</a>
						</dd>
					</dl>
					<dl class="sub-nav">
						<dt class="sub-type">专题活动</dt>
						<dd class="sub-nav-list">
							<a href="#" class="activity-item"><img src="../../static/court/images/9252e7c833eead68598d8145e82b03f9.jpg" alt=""></a>
							<a href="#" class="activity-item"><img src="../../static/court/images/9252e7c833eead68598d8145e82b03f9.jpg" alt=""></a>
							<a href="#" class="activity-item"><img src="../../static/court/images/9252e7c833eead68598d8145e82b03f9.jpg" alt=""></a>
						</dd>
					</dl>
				</div>
				<div class="info-content">
					<dl class="news-container">
						<dt class="news-type">新闻中心 &gt;&gt; 图片新闻</dt>
						<dd>
							<ul class="news-list">
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
								<li class="news-item clearfix">
									<p class="news-title text-overflow"><a href="details.html" target="_blank">
										上海高院副院长茆荣华出席“《行政诉讼法》修订施行以来司法审判疑难问题”研讨会
									</a></p>
									<p class="news-time">2016-08-24</p>
								</li>
							</ul>
							<div class="page">
								<a href="#">首页</a>
								<a href="#">上一页</a>
								<a class="active" href="#">1</a>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">5</a>
								<a href="#">下一页</a>
								<a href="#">尾页</a>
							</div>
						</dd>
					</dl>
				</div>
			</div>
		</div>

		<div class="footer">
			<img src="../../static/court/images/court-icon.png" alt="">
			蜀ICP备14002101号  达州市中级人民法院欢迎您，你是本站第 560614 位访问者 今日访问量：477 今日点击率：1279   注册单位 达州市中级人民法院      
		</div>

		<script type="text/javascript" src="../../static/court/js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="../../static/court/js/layer/layer.js"></script>
		<script type="text/javascript" src="../../static/court/js/common.js"></script>
		
		<script type="text/javascript" id="bdshare_js" data="type=slide&mini=1" ></script> 
		<script type="text/javascript" id="bdshell_js"></script> 
		<script type="text/javascript">
			document.getElementById('bdshell_js').src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
		</script>
		
		<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
