*{
	margin:0;
	padding:0;
}
body{
	font:14px/1.5 "Microsoft Yahei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
	min-width: 1200px;
	min-height: 800px;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
img,input{
	border:none;
	outline:none;
}
em,strong{
	font-weight:normal;
	font-style:normal;
}
a{
	text-decoration:none;
	color:inherit;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
ul,ol,li{
	list-style-type:none;
}
table,td,tr,th{
	border-spacing:0;
	border-collapse:collapse;
}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.mainBox{width: 1200px;margin: 0 auto;position: relative;}