{% extends 'cpws/base.html' %}
{% block centent %}
	<div class="wrap">
		<div class="banner">
			<img src="/static/cpws/images/document-banner.png" alt="">
		</div>

		<div class="document-search-bar">
			<form class="mainBox clearfix" action="">
				<p class="title">裁判文书查询</p>
				<p class="keyworld"><input type="text" placeholder="标题"></p>
				<p class="anhao"><input type="text" placeholder="案号"></p>
				<p class="start-time"><input placeholder="起始日期" class="laydate-icon" onclick="laydate()"></p>
				<p class="end-time"><input placeholder="结束日期" class="laydate-icon" onclick="laydate()"></p>
				<p class="search-btn"><input type="button" value="查询"></p>
			</form>
		</div>

		<div class="document">
			<div class="document-type clearfix">
				<h3 class="type-title"><em>民事案件&nbsp;|</em>JUDGMENT DOCUMENT</h3>
				<P class="more">
					当前位置：
					<a href="javascript:;">首页</a>
					&gt;&gt;
					<a href="javascript:;">民事案件</a>
				</P>
			</div>
			<table class="document-list">
				<thead>
					<tr>
						<th>法院名称</th>
						<th>文书标题</th>
						<th>案号</th>
						<th>发布时间</th>
					</tr>
				</thead>
				<tbody>
                    {% for foo in list %}
					<tr>
						<td>{{ foo.fymc }}</td>
						<td><a href="details.html">{{ foo.bt }}</a></td>
						<td>（2014）达中刑执字第1310号</td>
						<td>{{ foo.fbsj|date:'Y-m-d H:i:s' }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="page clearfix">
				<a href="javascript:goPage({{ page }}-1, {{ ajlx }});" class="prev">&lt;上一页</a>
                {% for p in indexList %}
                    <a href="javascript:goPage({{ p }}, {{ ajlx }});" class="active">{{ p }}</a>
                {% endfor %}
				<a href="javascript:goPage({{ page }}+1, {{ ajlx }});" class="next">下一页&gt;</a>
			</div>
		</div>

		<div class="copyRight">
			<p class="right">注册单位：达州市中级人民法院  技术支持：深圳市千合科技有限公司 </p>
			<p>蜀ICP备14002101号</p>
		</div>

	</div>
	
	<script src="/static/cpws/js/jquery-1.11.2.min.js"></script>
	<script src="/static/cpws/js/laydate/laydate.js"></script>
    <script>
        function goPage(page, ajlx) {
            window.location.href='/cpws/ajlx_'+ajlx+'/'+page+'.html'
        }
    </script>
	<script>
		// 侧滑导航
		var isMainNav = 0;
 		$(".main-nav-btn").click(function(){
 			if(isMainNav == 0){
 				$(".slide-nav").addClass('slide-nav-active');
 				$(".wrap,.header").addClass('nav-active');
 				isMainNav = 1;
 			}else{
 				$(".slide-nav").removeClass('slide-nav-active');
 				$(".wrap,.header").removeClass('nav-active');
 				isMainNav = 0;
 			}
		});

		$(function(){
			$(window).scroll(function(){
				if( $(window).scrollTop() >0 ){
					$(".header").addClass('shadow');
				}else{
					$(".header").removeClass('shadow');
				}
			});	
		});
	</script>
{% endblock %}