@charset 'utf-8';
// 主页
.wholeBody{
	position: relative;
	height: 100%;
	min-height: 800px;
	background: url("../../templates/static/images/bodyBg.png") center top no-repeat;
	background-size: cover;
}
// 失焦
.blur{
	-webkit-filter:blur(33.6px);
	filter:blur(33.6px);
}
// 头部
.header{
	position: fixed;
	z-index: 999;
	width: 100%;
	background-color: #1c70b8;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.3);
	box-shadow: 0 5px 5px rgba(0,0,0,.3);
	.logo{
		float: left;
		padding:20px 0; 
	}
	.otherNav{
		float: right;
		padding-top: 20px;
		p{
			float: left;
			&.wecat,&.weibo{
				padding: 10px 25px;
				border-right: 1px dashed #ffffff;
				a{
					display: block;
					background-image: url("../../templates/static/images/otherNav.png");
					width: 43px;
					height: 34px;
				}
			}
			&.wecat{
				a{
					background-position: 0px 0px;
					&:hover{background-position: 0px -236px;}
				}
			}
			&.weibo{
				a{
					background-position: 0px -77px;
					&:hover{background-position: 0px -154px;}
				}
			}
			&.service{
				a{
					display: block;
					position: relative;
					padding: 4px 25px;
					font-size: 18px;
					line-height: 24px;
					color: #ffffff;
					&:before{
						content: '';
						width: 0;
						height: 0;
						border-width: 8px;
						border-style: solid;
						border-color:transparent transparent transparent #ffffff;
						position: absolute;
						right: -10px;
						top: 40%;
					}
				}
			}
		}
	}
}
// 导航模块
.navModule{
	position: absolute;
	top: 28%;
	left: 50%;
	margin-left: -600px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	.courtBuild{
		float: left;
	}
	/*---------------*/
	/***** Bubba *****/
	/*---------------*/
	figure {
		position: relative;
		float: left;
		overflow: hidden;
		background: #3085a3;
		text-align: center;
		cursor: pointer;
	}
	figure figcaption,
	figure figcaption > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	figure figcaption {
		color: #fff;
		text-transform: uppercase;
		font-size: 1.25em;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	figure figcaption::before,
	figure figcaption::after {
		pointer-events: none;
	}

	figure figcaption,
	figure figcaption > a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	figure.effect-bubba {
		background: #1B74BB;
	}

	figure.effect-bubba img {
		opacity: 0.7;
		-webkit-transition: opacity 0.35s;
		transition: opacity 0.35s;
	}

	figure.effect-bubba:hover img {
		opacity: 0.4;
	}
	figure h2 {
		word-spacing: -0.15em;
		font-weight: 300;
		opacity: 0;
	}

	figure h2 span {
		font-weight: 800;
	}
	figure.effect-bubba figcaption::before,
	figure.effect-bubba figcaption::after {
		position: absolute;
		top: 30px;
		right: 30px;
		bottom: 30px;
		left: 30px;
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}

	figure.effect-bubba figcaption::before {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		-webkit-transform: scale(0,1);
		transform: scale(0,1);
	}

	figure.effect-bubba figcaption::after {
		border-right: 1px solid #fff;
		border-left: 1px solid #fff;
		-webkit-transform: scale(1,0);
		transform: scale(1,0);
	}

	figure.effect-bubba h2 {
		padding-top: 30%;
		opacity: 0;
		-webkit-transition: all 0.35s;
		transition: all 0.35s;
		-webkit-transform: translate3d(0,-20px,0);
		transform: translate3d(0,-20px,0);
		font-family: "arial", 'Microsoft Yahei';
	}

	figure.effect-bubba p {
		padding: 20px 2.5em;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: translate3d(0,20px,0);
		transform: translate3d(0,20px,0);
		font-family: "arial", 'Microsoft Yahei';
	}

	figure.effect-bubba:hover figcaption::before,
	figure.effect-bubba:hover figcaption::after {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	figure.effect-bubba:hover h2,
	figure.effect-bubba:hover p {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	.navModuleWarp{
		float: right;
		width: 720px;
		.navModuleWarp-1{
			.navItem1{background-color: #2f9ed5;}
			.navItem2{background-color: #5caada;}
			.navItem3{background-color: #3990d3;margin-right: 0;}
			.navItem{
				float: left;
				width: 32%;
				height: 190px;
				margin-right: 6px;
				margin-bottom: 6px;
				-webkit-transition: all .3s ease-in-out;
				-o-transition: all .3s ease-in-out;
				transition: all .3s ease-in-out;
				&:hover{
					-webkit-transform: translateY(-4px);
					-ms-transform: translateY(-4px);
					-o-transform: translateY(-4px);
					transform: translateY(-4px);
					-webkit-box-shadow: 0 0px 10px 0px rgba(0,0,0,.3);
					box-shadow: 0 0px 10px 0px rgba(0,0,0,.3);
				}
				a{
					display: block;
					img{
						display: block;
						width: 107px;
						margin: 20px auto 0;
					}
					p{
						padding-top: 10px;
						font-size: 16px;
						text-align: center;
						color: #ffffff;
					}
				}
			}
		}
		.navModuleWarp-2{
			*margin-top: 6px;
			.navItem4{background-color: #fcc534;}
			.navItem5{background-color: #6ac63d;}
			.navItem6{background-color: #39b4d3;margin-right: 0;}
			.navItem{
				float: left;
				width: 25%;
				height: 185px;
				margin-right: 6px;
				margin-bottom: 6px;
				position: relative;
				-webkit-transition: all .5s ease;
				-o-transition: all .5s ease;
				transition: all .5s ease;
				a{
					display: block;
					img{
						display: block;
						width: 107px;
						margin: 20px auto 0;
						-webkit-transition: all .5s ease;
						-o-transition: all .5s ease;
						transition: all .5s ease;
					}
					p{
						padding-top: 10px;
						font-size: 16px;
						text-align: center;
						color: #ffffff;
						-webkit-transition: all .5s ease;
						-o-transition: all .5s ease;
						transition: all .5s ease;
					}
					.tip{
						position: absolute;
						z-index: 0;
						width: 180px;
						padding: 0 15px;
						font-size: 12px;
						line-height: 24px;
						color: #ffffff;
						-webkit-transform: scale(0.01);
						-moz-transform: scale(0.01);
						-ms-transform: scale(0.01);
						-o-transform: scale(0.01);
						tansform: scale(0.01);
						-webkit-transform-origin: center;
						-moz-transform-origin: center;
						-ms-transform-origin: center;
						-o-transform-origin: center;
						transform-origin: center;
						z-index: -1;
						-webkit-transition: transform .2s ease .3s,opacity .3s ease;
						-o-transition: transform .2s ease .3s,opacity .3s ease;
						transition: transform .2s ease .3s,opacity .3s ease;
					}
				}
			}
			.active{
				width: 46%;
				img{
					-webkit-transform: translate(98px);
					-ms-transform: translate(98px);
					-o-transform: translate(98px);
					transform: translate(98px);
				}
				p{
					-webkit-transform: translate(90px);
					-ms-transform: translate(90px);
					-o-transform: translate(90px);
					transform: translate(90px);
				}
				.tip{
				 	-webkit-transform: scale(1) !important;
				 	-ms-transform: scale(1) !important;
				 	-o-transform: scale(1) !important;
				 	transform: scale(1) !important;
				 	z-index: 1 !important;
				}
			}
		}	
	}
}
// 底部版权
.copyright{
	position: absolute;
	bottom: 10%;
	width: 100%;
	line-height: 24px;
	text-align: center;
	color: #D2D2D2;
}